#mobile-header,
#mobile-navigation{
	display: none;
}

h1{}
h1 img{
	width: 100px;
	@include center-full();
}

.menu__item{
	height: 60px
}
.menu__item a{
	font-size: 18px; line-height: 60px;
}
.menu__item a i{
	font-size: 2em;
	color: #EE6178; /*rosa*/
}