@charset 'utf-8';

/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$light: 			#fff;    //white
$primary:			#EE6178; //pink
$highlight:			#44A3CC; //blue
$dark: 				#414042; //grey text
//$light-dark: 		#b2b2b2; //gris-light

$twitter: 		#2aa8df;
$facebook: 		#3c5a97;
$pinterest: 	#c92027;
$gplus: 		#dd4b39;
$linkedin: 		#007bb6;

$warning: 		#e74c3c;




/*------------------------------------*\
    #MEDIDAS
\*------------------------------------*/

$unidad: 		20px;