<div id="mobile-navigation">
	<nav class="nav">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="">Información</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
	</nav>
</div>

<header class="[ header-front ]">
	<div class="[ container ] [ hidden--medium ]">
		<div class="[ row ]">
			<div class="[ col-xs-4 ][ menu__item ]">
				<a id="responsive-menu-button" href="#sidr-mobile">
					<i class="fa fa-bars fa-3x"></i>
				</a>
			</div>
			<div class="[ col-xs-4 ] [ text-center ]">
				<h1>
					<%= logo %>
				</h1>
			</div>
			<div class="[ col-xs-4 ][ right ][ text-right ][ menu__item ]">
				<a href="#sidr" class="custom-font slide-menu">
					<i class="fa fa-shopping-cart fa-3x"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="container hidden-xs">
		<div class="[ row ][ no-gutter ]">
			<div class="[ col-xs-2 ][][ text-left ][ menu__item ]">
				<a href="/" class="">
					Inicio
				</a>
			</div>
			<div class="[ col-xs-2 ][][ text-center ][ menu__item ]">
				<a href="" class="">
					Información
				</a>
			</div>
			<div class="[ col-xs-4 ]">
				<h1>
					<a href="/" title="Home">
						<%= logo %>
					</a>
				</h1>
			</div>
			<div class="[ col-xs-2 ][ ][ text-center ][ menu__item ]">
				<a href="" class="" disabled="disabled">
					Mi cuenta
				</a>
			</div>
			<div class="[ col-xs-2 ][ ][ text-right ][ menu__item ]">
				<a href="#sidr" class="custom-font slide-menu">
					<i class="fa fa-shopping-cart fa-3x"></i>
				</a>
			</div>
		</div>
	</div><!-- .container -->
</header>