<section class="filtros">
	<%= form_tag '/search', :method => :post, class: "navbar-form" do |f| %>
		<%= render partial: 'spree/shared/filters',  :locals => {:f => f} %>
		<%= submit_tag("Buscar", class: '[ boton ]') %>
	<% end %>
</section>
<%= render 'product' %>